p {
    width: 80%;
    height: 300px;
    margin: 0px auto;
    text-align: justify;
    border: 10px solid #000055;
    background-color: blueviolet;
    border-radius: 15px;
    padding: 10px;
}

nav {
    width: 600px;
    height: auto;
    background-color: aqua;
}

nav ul {
    list-style: none;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

nav ul li {
    float: left;
}

nav ul li a {
    display: block;
    padding: 16px 20px;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
}

nav ul li a:hover {
    background-color: red;
}