p {
    width: 80%;
    height: 300px;
    margin: 0px auto;
    text-align: justify;
    border: 10px solid #000055;
    background-color: blueviolet;
    border-radius: 15px;
    margin: 20px;
    padding: 10px;
}